



body {
	background: url(http://ida.kalou.net/blsi/admin/kayu5.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

 h1 > strong {
  color: #fff;
}

p {
  color: #fff;
}

title {
	color:#fff;
}
label {
  color: #fff;
}
value {
  color: black;
}
address {
	color:#fff;
}
td > center > h3 {
  color: #fff;
}
form {
	color:#FF4500;
}
