

body {
	background: url(http://ida.kalou.net/blsi/admin/kayu6.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
h1 {
	color:#fff;
}
form > h3 {
	color:#fff;
}
 
td > input {
  color: black;
}


option {
	color:black;
}
p > a {
  color:#FFD700;
}