

body {
	background: url(http://ida.kalou.net/blsi/admin/bois4.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
h1 {
	color:#fff;
}
form {
	color:#fff;
}
 
p {
	color: #fff;
}
 
td > input {
  color: black;
}


option {
	color:black;
}
p > a  {
  color:#FFD700;
}
