body {
	background: url(http://ida.kalou.net/phpmobilprotec/kayu2.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

h1  {
	color: #00FF00;
}
