

body {
	background: url(http://ida.kalou.net/blsi/admin/kayu1.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
b, h1 {
  color:#000080;
}

th {
  color:#fff;
}
td {
  color: #fff;
}
P > a {
  color:#87CEEB;
}
table {
  color:#fff;
}