

body {
	background: url(http://ida.kalou.net/phpmobilprotec/kayu6.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

tr > td {
	color: #fff;
}
a {
  color:#87CEEB;
}
form {
  color: #fff;
}