



body {
	background: url(http://ida.kalou.net/phpmobilprotec/kayu4.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

tr > th {
  color:#fff;
}
tr > td {
  color: #fff;
}
P > a {
  color:#87CEEB;
}
table > tr > td {
  color:#fff;
}